section(class="section about-section" id="about") 
  div(class="about-wrapper")
    div(class="container")
      div(class="about-inner")
        div(class="about-image")
          div(class="content-image")
            img(src="images/about-1.webp" alt="alt" class="img")
            //- هرجع اضيف الايكونة
            span(class="icon-play")
        div(class="about-text")
          div(class="section-title")
            h2(class="") About Us
          div(class="section-subtitle subtitle") We Are The Leader In
          div(class="section-subtitle subtitle") The Architectura!
          p(class="lead") 36 Years Experience Working
          p(class="lead about-description") For each project we establish relationships with partners who we know will help us create added value for your project. As well as bringing together the public and private sectors, we make sector-overarching links to gather knowledge and to learn from each other who we know will help us create added value for your project.......
          div(class="about-button first-button") 
            a(href="#" class="more-about-button" id="more-about-button") More Abut 
          //- هرجع اضيف الصورة
          div(class="about-image")
          div(class="about-counter")
            div(class="inner")
              div(class="item")
                img(src="images/counter-1.webp" alt="alt")
                .text 
                  .number 150+
                  .words Awards winner
              div(class="item")
                img(src="images/counter-2.webp" alt="alt")
                .text 
                  .number 5021+
                  .words Satisfied Clients
              div(class="item")
                img(src="images/counter-3.webp" alt="alt")
                .text 
                  .number 201+
                  .words Active projects





