

section(class="section ourLatestNew-section") 
  div(class="ourLatestNew-wrapper")
    div(class="container")
      div(class="ourLatestNew-inner")
        .ourLatestNew-text 
          .section-title 
            h2 our Latest New
          .section-subtitle 
            h2 Learn Something More 
              br
              | From Our News And Artical
        .ourLatestNew-slider 

          div(class="item")
            .image
              img(src="images/ourLatestNew-1.webp" alt="alt")
            .text
              span(class="member") admin
              div(class="time-comment") 
                span(class="time") july 12,2020
                span(class="salish") /
                span(class="comment") 
                  span(class="" id="comment-number") 10
                  span(class="") comment
              div(class="ourLatestNew-title") 
                a(href="#" class="") Building public support for a severige work bond
              div(class="button")
                .icon 
                  i(class="fas fa-arrow-right facebook-icon")
                a(href="#" class="text") Read More


          div(class="item")
            .image
              img(src="images/ourLatestNew-2.webp" alt="alt")
            .text
              span(class="member") admin
              div(class="time-comment") 
                span(class="time") july 12,2020
                span(class="salish") /
                span(class="comment") 
                  span(class="" id="comment-number") 10
                  span(class="") comment
              div(class="ourLatestNew-title") 
                a(href="#" class="") Satisfection for the customer our first parity.
              div(class="button")
                .icon 
                  i(class="fas fa-arrow-right facebook-icon")
                a(href="#" class="text") Read More


          div(class="item")
            .image
              img(src="images/ourLatestNew-3.webp" alt="alt")
            .text
              span(class="member") admin
              div(class="time-comment") 
                span(class="time") july 12,2020
                span(class="salish") /
                span(class="comment") 
                  span(class="" id="comment-number") 10
                  span(class="") comment
              div(class="ourLatestNew-title") 
                a(href="#" class="") High quality work for demand our customer.
              div(class="button")
                .icon 
                  i(class="fas fa-arrow-right facebook-icon")
                a(href="#" class="text") Read More



