section(class="section projects-section") 
  div(class="projects-wrapper")
    div(class="container")
      div(class="projects-inner")
        .projects-text 
          .section-title 
            h2 projects
          .section-subtitle 
            h2 our latest projects check 
              br
              new dears 
        .projects-slider 
          .mixitup-wrapper
            .mixitup-inner
              .mixitup-buttons
              .mixitup-items
        .projects-description 
          p(class="lead") If you want to more project then you  
            span 
              a(href="#") Click Here Now 
              a(href="#" class="color color-first") Click color-first 
              a(href="#" class="color color-first-alt") Click color first-alt
              a(href="#" class="color color-second") Click color second
              a(href="#" class="color color-title") Click color title
              a(href="#" class="color color-text") Click color text
              a(href="#" class="color color-text-light") Click color text light
              a(href="#" class="color color-") Click color 
              a(href="#" class="color color-") Click color 
              a(href="#" class="color color-") Click color 
              a(href="#" class="color color-") Click color 
              a(href="#" class="color color-") Click color 
              a(href="#" class="color color-") Click color 

