section(class="section projects-section") 
  div(class="projects-wrapper")
    div(class="container")
      div(class="projects-inner")
        .projects-text 
          .section-title 
            h2 projects
          .section-subtitle 
            h2 our latest projects check  
              br
              | new dears 
        .projects-slider 
          // Website https://www.kunkalabs.com/mixitup/
          .mixitup-wrapper
            .mixitup-inner
              .mixitup-buttons
                .mixitup-buttons-wrapper
                  .mixitup-buttons-inner
                    button(class="mixitup-button mixitup-control-active" data-filter="all") All Cases
                    button(class="mixitup-button" data-filter=".Houses") Houses
                    button(class="mixitup-button" data-filter=".Interiors") Interiors
                    button(class="mixitup-button" data-filter=".Our-Project") Our Project
                    button(class="mixitup-button" data-filter=".Modern-Bridge") Modern Bridge
              .mixitup-items
                .mixitup-items-wrapper
                  .mixitup-items-inner
                    div(class="mixitup-item mix Houses") 
                      img(src="images/Projects-1.webp" alt="alt")
                      div(class="mixitup-item-description")
                        h4(class="top") Construction Build
                        h6(class="bottom") Houses, Interiors
                      a(class="projects-icon" href="images/Projects-1.webp")
                        i(class="fas fa-expand-arrows-alt")
                    div(class="mixitup-item mix Interiors") 
                      img(src="images/Projects-2.webp" alt="alt")
                      div(class="mixitup-item-description")
                        h4(class="top") Construction Build
                        h6(class="bottom") Houses, Interiors
                      a(class="projects-icon" href="images/Projects-2.webp")
                        i(class="fas fa-expand-arrows-alt")
                    div(class="mixitup-item mix Our-Project") 
                      img(src="images/Projects-3.webp" alt="alt")
                      div(class="mixitup-item-description")
                        h4(class="top") Construction Build
                        h6(class="bottom") Houses, Interiors
                      a(class="projects-icon" href="images/Projects-3.webp")
                        i(class="fas fa-expand-arrows-alt")
                    div(class="mixitup-item mix Modern-Bridge") 
                      img(src="images/Projects-4.webp" alt="alt")
                      div(class="mixitup-item-description")
                        h4(class="top") Construction Build
                        h6(class="bottom") Houses, Interiors
                      a(class="projects-icon" href="images/Projects-4.webp")
                        i(class="fas fa-expand-arrows-alt")
                    div(class="mixitup-item mix Our-Project") 
                      img(src="images/Projects-3.webp" alt="alt")
                      div(class="mixitup-item-description")
                        h4(class="top") Construction Build
                        h6(class="bottom") Houses, Interiors
                      a(class="projects-icon" href="images/Projects-3.webp")
                        i(class="fas fa-expand-arrows-alt")
                    div(class="mixitup-item mix Our-Project") 
                      img(src="images/Projects-3.webp" alt="alt")
                      div(class="mixitup-item-description")
                        h4(class="top") Construction Build
                        h6(class="bottom") Houses, Interiors
                      a(class="projects-icon" href="images/Projects-3.webp")
                        i(class="fas fa-expand-arrows-alt")

        .projects-description 
          p(class="lead") If you want to more project then you  
            a 
              a(href="#") Click Here Now 
