section(class="skills-section section") 
  div(class="skills-wrapper")
    div(class="container")
      div(class="skills-inner")
        div(class="skills-text") 
          div(class="section-title") 
            h2 Our Skills 
          div(class="section-subtitle")
            h2 we are giving you a chance to build your dream 
        div(class="skills-image")
          div(class="text")
            div(class="item")
              div(class="text-content") 
                span(class="content") General Consulting
              div(class="line-number")
                div(class="line")
                span(class="number") 56%
            div(class="item")
              div(class="text-content") 
                span(class="content") General Consulting
              div(class="line-number")
                div(class="line")
                span(class="number") 56%
            div(class="item")
              div(class="text-content") 
                span(class="content") General Consulting
              div(class="line-number")
                div(class="line")
                span(class="number") 56%


          div(class="img")
            img(src="images/accordian.webp" alt="")
          div(class="text")
            div(class="item")
              div(class="text-content") 
                span(class="content") General Consulting
              div(class="line-number")
                div(class="line")
                  span(class="number") 56%
            div(class="item")
              div(class="text-content") 
                span(class="content") General Consulting
              div(class="line-number")
                div(class="line")
                  span(class="number") 56%
            div(class="item")
              div(class="text-content") 
                span(class="content") General Consulting
              div(class="line-number")
                div(class="line")
                  span(class="number") 56%

