section(class="skills-section section") 
  div(class="skills-wrapper")
    div(class="container")
      div(class="skills-inner")
        div(class="skills-text") 
          div(class="section-title") 
            h2 Our Skills 
          div(class="section-subtitle")
            h2 we are giving you a chance to build your dream 
        div(class="skills-image")
          //- هرجع اضيف الرسم البيانى 
