
section(class="section teamMembers-section") 
  div(class="teamMembers-wrapper")
    div(class="teamMembers-layer")
    div(class="container")
      div(class="teamMembers-inner")
        .teamMembers-text 
          .section-title 
            h2 team Members
          .section-subtitle 
            h2 Our Expert Team Members 
              br
              | Will Help You
        .teamMembers-slider 
          .wrapper
            .inner
              div(class="owl-carousel owl-theme" id="owl-carousel")
                div(class="item")
                  div(class="image")
                    img(src="images/team-1.webp" alt="")
                    ul(class="wrapper-social") 
                      li(class="")
                        a(href="#")
                          i(class="fab fa-facebook facebook-icon")
                      li(class="")
                        a(href="#")
                          i(class="fab fa-linkedin-in linkedin-icon")
                      li(class="")
                        a(href="#")
                          i(class="fab fa-skype skype-icon")
                      li(class="")
                        a(href="#")
                          i(class="fab fa-twitter twitter-icon")
                  div(class="text")
                    h6(class="") 
                      a(href="#" class="child-link")  Wilhelmina Joe
                    div(class="description") Architecture
                    a(class="parent-link" href="") 

                div(class="item")
                  div(class="image")
                    img(src="images/team-2.webp" alt="")
                    ul(class="wrapper-social") 
                      li(class="")
                        a(href="#")
                          i(class="fab fa-facebook facebook-icon")
                      li(class="")
                        a(href="#")
                          i(class="fab fa-linkedin-in linkedin-icon")
                      li(class="")
                        a(href="#")
                          i(class="fab fa-skype skype-icon")
                      li(class="")
                        a(href="#")
                          i(class="fab fa-twitter twitter-icon")
                  div(class="text")
                    h6(class="") 
                      a(href="#" class="child-link")  Wilhelmina Joe
                    div(class="description") Architecture
                    a(class="parent-link" href="") 

                div(class="item")
                  div(class="image")
                    img(src="images/team-3.webp" alt="")
                    ul(class="wrapper-social") 
                      li(class="")
                        a(href="#")
                          i(class="fab fa-facebook facebook-icon")
                      li(class="")
                        a(href="#")
                          i(class="fab fa-linkedin-in linkedin-icon")
                      li(class="")
                        a(href="#")
                          i(class="fab fa-skype skype-icon")
                      li(class="")
                        a(href="#")
                          i(class="fab fa-twitter twitter-icon")
                  div(class="text")
                    h6(class="") 
                      a(href="#" class="child-link")  Wilhelmina Joe
                    div(class="description") Architecture
                    a(class="parent-link" href="") 

                div(class="item")
                  div(class="image")
                    img(src="images/team-4.webp" alt="")
                    ul(class="wrapper-social") 
                      li(class="")
                        a(href="#")
                          i(class="fab fa-facebook facebook-icon")
                      li(class="")
                        a(href="#")
                          i(class="fab fa-linkedin-in linkedin-icon")
                      li(class="")
                        a(href="#")
                          i(class="fab fa-skype skype-icon")
                      li(class="")
                        a(href="#")
                          i(class="fab fa-twitter twitter-icon")
                  div(class="text")
                    h6(class="") 
                      a(href="#" class="child-link")  Wilhelmina Joe
                    div(class="description") Architecture
                    a(class="parent-link" href="") 

                div(class="item")
                  div(class="image")
                    img(src="images/team-5.webp" alt="")
                    ul(class="wrapper-social") 
                      li(class="")
                        a(href="#")
                          i(class="fab fa-facebook facebook-icon")
                      li(class="")
                        a(href="#")
                          i(class="fab fa-linkedin-in linkedin-icon")
                      li(class="")
                        a(href="#")
                          i(class="fab fa-skype skype-icon")
                      li(class="")
                        a(href="#")
                          i(class="fab fa-twitter twitter-icon")
                  div(class="text")
                    h6(class="") 
                      a(href="#" class="child-link")  Wilhelmina Joe
                    div(class="description") Architecture
                    a(class="parent-link" href="") 

                div(class="item")
                  div(class="image")
                    img(src="images/team-6.webp" alt="")
                    ul(class="wrapper-social") 
                      li(class="")
                        a(href="#")
                          i(class="fab fa-facebook facebook-icon")
                      li(class="")
                        a(href="#")
                          i(class="fab fa-linkedin-in linkedin-icon")
                      li(class="")
                        a(href="#")
                          i(class="fab fa-skype skype-icon")
                      li(class="")
                        a(href="#")
                          i(class="fab fa-twitter twitter-icon")
                  div(class="text")
                    h6(class="") 
                      a(href="#" class="child-link")  Wilhelmina Joe
                    div(class="description") Architecture
                    a(class="parent-link" href="") 
