section(class="section testimonials-section") 
  div(class="testimonials-wrapper")
    div(class="container")
      div(class="testimonials-inner")
        .testimonials-text 
          .section-title 
            h2 testimonials
          .section-subtitle 
            h2 we have many satisfled clients say about us 
        .testimonials-slider
          // Owl
          // Website = https://owlcarousel2.github.io/OwlCarousel2/
          // Owl Include File Css
          // link(rel="stylesheet" href="css/libs/owl/owl.theme.default.min.css")
          // link(rel="stylesheet" href="css/libs/owl/owl.carousel.min.css")
          // Owl Include File Javascript
          // script(src='js/libs/owl/owl.carousel.min.js') 
          div(class="owl-wrapper")
            div(class="owl-carousel owl-theme" id="owl-carousel")
              // Single Item
              div(class="item") 
                div(class="inner") 
                  div(class="icon")
                    div(class="icon-quote")
                      i(class="fas fa-quote-left")
                    div(class="icon-start")
                      i(class="fas fa-star")
                      i(class="fas fa-star")
                      i(class="fas fa-star")
                      i(class="far fa-star")
                      i(class="far fa-star")
                  div(class="text")
                    div(class="description")
                      p(class="lead") Interesting design and concept, beautiful presentation and functional features are what make this theme worth your time, money and effort.
                    div(class="author-name")
                      h5 Rajor Fatia
                  div(class="image")
                    div(class="author-image")
                      img(src="https://wp1.yogsthemes.com/demo/manzil/wp-content/uploads/2020/07/author-2.jpg" alt="")

              // Single Item
              div(class="item") 
                div(class="inner") 
                  div(class="icon")
                    div(class="icon-quote")
                      i(class="fas fa-quote-left")
                    div(class="icon-start")
                      i(class="fas fa-star")
                      i(class="fas fa-star")
                      i(class="far fa-star")
                      i(class="far fa-star")
                      i(class="far fa-star")
                  div(class="text")
                    div(class="description")
                      p(class="lead") Don’t buy this theme, you won’t be able to resist its charm. Right, like you’re charmed. A theme that is truly multipurpose and flexible.
                    div(class="author-name")
                      h5 Smith Makan
                  div(class="image")
                    div(class="author-image")
                      img(src="https://wp1.yogsthemes.com/demo/manzil/wp-content/uploads/2020/07/author-3.jpg" alt="")

              // Single Item
              div(class="item") 
                div(class="inner")
                  div(class="icon")
                    div(class="icon-quote")
                      i(class="fas fa-quote-left")
                    div(class="icon-start")
                      i(class="fas fa-star")
                      i(class="fas fa-star")
                      i(class="fas fa-star")
                      i(class="fas fa-star")
                      i(class="fas fa-star")
                  div(class="text")
                    div(class="description")
                      p(class="lead") “Makin their way the only way they know how that’s just a little bit more than the law will allow these happy days are you. leads a rag tag fugitive fleet on a lonely”
                    div(class="author-name")
                      h5 Malika Morla
                  div(class="image")
                    div(class="author-image")
                      img(src="https://wp1.yogsthemes.com/demo/manzil/wp-content/uploads/2020/07/author-1.jpg" alt="")



        .testimonials-description
          p(class="lead") Don’t think so more about success rate. 
            span Let’s get started

