section(class="section testimonials-section") 
  div(class="testimonials-wrapper")
    div(class="container")
      div(class="testimonials-inner")
        .testimonials-text 
          .section-title 
            h2 testimonials
          .section-subtitle 
            h2 we have many satisfled clients say about us 
        .testimonials-slider slider
        .testimonials-description
          p(class="lead") Don’t think so more about success rate. 
            span Let’s get started
