main 
  include Slider/Slider.pug
  include Section/about.pug
  include Section/service.pug
  include Section/skills.pug
  include Section/testimonials.pug
  include Section/projects.pug
  include Section/teamMembers.pug
  include Section/ourLatestNew.pug

