main 

  //- Start nivo slider 
  div(div class="nivo-slider")
    div(class="slider-wrapper")
      div( class="slider-active")
        img(src="" alt="" title="#slider-content-1")
        img(src="" alt="" title="#slider-content-2")
        img(src="" alt="" title="#slider-content-3")

      div( class="slider-content" id="slider-content-1")
        div( class="slider-disc")
          div( class="slider-bg text animated zoomIn")
            h2( class="title") Constraction Soluction 
            h2(class="title") Your Thought We Build
            p( class="lead")  
              |Manzil Construction Agency Is Proud To Provide Most Reliable Housing & Top Notch Construction Service.
            div(class="wrapper-button")
              button Our Services
              button Join Us Now
          div(class="image")
            img(src="../../images/slider-item-one.webp" alt="")


      div( class="slider-content" id="slider-content-2")
        div( class="slider-disc")
          div( class="slider-bg animated zoomIn")
            h2( class="main-color")  باشون
            p( class="lead")  
              | تصميم وتطوير مواقع الإنترنت للمؤسسات والشركات، والمدونات

            p( class="lead")  
              | تصميم وتطوير مواقع الإنترنت للمؤسسات والشركات، والمدونات
            p( class="lead")  
              | تصميم وتطوير مواقع الإنترنت للمؤسسات والشركات، والمدونات

      div( class="slider-content" id="slider-content-3")
        div( class="slider-disc")
          div( class="slider-bg animated zoomIn")
            h2( class="main-color") A
            p( class="lead")  
              | تصميم وتطوير مواقع الإنترنت للمؤسسات والشركات، والمدونات

            p( class="lead")  
              | تصميم وتطوير مواقع الإنترنت للمؤسسات والشركات، والمدونات
            p( class="lead")  
              | تصميم وتطوير مواقع الإنترنت للمؤسسات والشركات، والمدونات

    // Start mouse icon 
    div(class="parent-mouse-icon window-height")
      div( class="mouse-icon")
        div(class="wheel")

