
header(class="header" id="header") 

  div(class="header-top" ) 
    div(class="container")
      div(class="text") Welcome Construction Company  
  div(class="header-info" )
    div(class="container")
      div(class="box")
        // empty
        div(class="item empty")
        // world
        div(class="item")
          div(class="icon")
            img(src="images/icon/world.webp" alt="world")
          div(class="text")
            span(class="top") 25BT, San Rojartar,
            span(class="bottom") New York, United States
        // email 
        div(class="item")
          div(class="icon")
            img(src="images/icon/email.webp" alt="world")
          div(class="text")
            span(class="top") Send Your Mail At
            //- هرجع اضيف الاتصال بى الاميل
            span(class="bottom") Send Your Mail At
        // clock
        div(class="item")
          div(class="icon")
            img(src="images/icon/clock.webp" alt="world")
          div(class="text")
            span(class="top") Working Hours
            span(class="bottom") Mon-Sat:9.30am To 7.00pm

  // Header Logo And Nav
  div(class="header-logo-nav" id="header-logo-nav" )
    div(class="container")
      div(class="content")
        div(class="logo")
          div(class="container")
            img(src="images/logo.webp" alt="alt")
        div(class="nav")
          div(class="container")
            div(class="links")
              div(class="menu")
                ul
                  // Home
                  li(class="active") 
                    a(href="#") Home
                    span(class="icon")
                      i(class="fas fa-chevron-down")
                    ul(class="submenu")
                      li 
                        a(href="#") Home One
                      li 
                        a(href="#") Home Tow
                      li 
                        a(href="#") Home Three
                      li 
                        a(href="#") Home Four

                  // About Us
                  li 
                    a(href="#") About Us
                    span(class="icon")
                      i(class="fas fa-chevron-down")
                    ul(class="submenu")
                      li 
                        a(href="#") About Us
                      li 
                        a(href="#") Faq’s
                      li 
                        a(href="#") Price
                      li 
                        a(href="#") Our Team
                      li 
                        a(href="#") Testimonial
                      li 
                        a(href="#") Coming Soon
                      li 
                        a(href="#") Terms & Condition
                      li 
                        a(href="#") Privacy & Policy


                  // Services
                  li 
                    a(href="#") Services
                    span(class="icon")
                      i(class="fas fa-chevron-down")
                    ul(class="submenu")
                      li 
                        a(href="#") Services
                      li 
                        a(href="#") Building Construction
                      li 
                        a(href="#") Property Sketching
                      li 
                        a(href="#") Building Renovation
                      li 
                        a(href="#") Material Supply
                      li 
                        a(href="#") Interior Design
                      li 
                        a(href="#") Plan Certification
                      li 
                        a(href="#") Spectial Monintation

                  // Projects
                  li 
                    a(href="#") Projects
                    span(class="icon")
                      i(class="fas fa-chevron-down")
                    ul(class="submenu")
                      li 
                        a(href="#") Our Projects 
                      li 
                        a(href="#") Projects Two
                      li 
                        a(href="#") Projects Detail
                      li 
                        a(href="#") Projects Detail 02

                  // Blog
                  li 
                    a(href="#") Blog 
                    span(class="icon")
                      i(class="fas fa-chevron-down")
                    ul(class="submenu")
                      li 
                        a(href="#") Blog Classic
                      li 
                        a(href="#") Blog Left Sidebar
                      li 
                        a(href="#") Blog Right Sidebar
                      li 
                        a(href="#") Blog Details
                      li 
                        a(href="#") Error Page

                  // Shop
                  li 
                    a(href="#") Shop
                    span(class="icon")
                      i(class="fas fa-chevron-down")
                    ul(class="submenu")
                      li 
                        a(href="#") Shop
                      li 
                        a(href="#") Shop Details
                      li 
                        a(href="#") Cart Page
                      li 
                        a(href="#") Checkout Page
                      li 
                        a(href="#") My account

                  // Contact
                  li 
                    a(href="#") Contact
                    span(class="icon")
                      i(class="fas fa-chevron-down")
                    ul(class="submenu")
                      li 
                        a(href="#") Contact Us 01
                      li 
                        a(href="#") Contact Us 02
                      li 
                        a(href="#") Contact Us 03

        // search
        div(class="search")
          div(class="icon")
            i(class="fas fa-search")

        //button
        div(class="button")
          button Find Advisor

        //- change-theme
        div(class="change-theme")
          i(class="fas fa-moon change-theme-icon" id="change-theme-icon")


  nav(class="nav")
    // Logo
    a(href="#" class="nav-log") 
      img(src="images/logo.webp" alt="alt") 
    // Menu
    div(class="nav-menu" id="nav-menu") 
      ul(class="nav-list")
        // Home
        li(class="nav-item")
          a(href="#home" class="nav-link  nav-active-link" ) Home
            span(class="icon")
              i(class="fas fa-chevron-down")
          ul(class="submenu")
            li 
              a(href="#") Home One
            li 
              a(href="#") Home Tow
            li 
              a(href="#") Home Three
            li 
              a(href="#") Home Four

        // About Us
        li(class="nav-item")
          a(href="#about" class="nav-link" ) about us
            span(class="icon")
              i(class="fas fa-chevron-down")
          ul(class="submenu")
            li 
              a(href="#") About Us
            li 
              a(href="#") Faq’s
            li 
              a(href="#") Price
            li 
              a(href="#") Our Team
            li 
              a(href="#") Testimonial
            li 
              a(href="#") Coming Soon
            li 
              a(href="#") Terms & Condition
            li 
              a(href="#") Privacy & Policy

        // Services
        li(class="nav-item")
          a(href="#services" class="nav-link" ) Services
            span(class="icon")
              i(class="fas fa-chevron-down")
          ul(class="submenu")
            li 
              a(href="#") Services
            li 
              a(href="#") Building Construction
            li 
              a(href="#") Property Sketching
            li 
              a(href="#") Building Renovation
            li 
              a(href="#") Material Supply
            li 
              a(href="#") Interior Design
            li 
              a(href="#") Plan Certification
            li 
              a(href="#") Spectial Monintation

        // Projects
        li(class="nav-item")
          a(href="#projects" class="nav-link" ) projects
            span(class="icon")
              i(class="fas fa-chevron-down")
          ul(class="submenu")
            li 
              a(href="#") Our Projects 
            li 
              a(href="#") Projects Two
            li 
              a(href="#") Projects Detail
            li 
              a(href="#") Projects Detail 02

        // Blog
        li(class="nav-item")
          a(href="#blog" class="nav-link" ) blog
            span(class="icon")
              i(class="fas fa-chevron-down")
          ul(class="submenu")
            li 
              a(href="#") Blog Classic
            li 
              a(href="#") Blog Left Sidebar
            li 
              a(href="#") Blog Right Sidebar
            li 
              a(href="#") Blog Details
            li 
              a(href="#") Error Page

        // Shop
        li(class="nav-item")
          a(href="#shop" class="nav-link" ) shop
            span(class="icon")
              i(class="fas fa-chevron-down")
          ul(class="submenu")
            li 
              a(href="#") Shop
            li 
              a(href="#") Shop Details
            li 
              a(href="#") Cart Page
            li 
              a(href="#") Checkout Page
            li 
              a(href="#") My account


        li(class="nav-item")
          a(href="#contact" class="nav-link" ) Contact
            span(class="icon")
              i(class="fas fa-chevron-down")
          ul(class="submenu")
            li 
              a(href="#") Contact Us 01
            li 
              a(href="#") Contact Us 02
            li 
              a(href="#") Contact Us 03
    // Search & Form & Button
    div(class="nav-search nav-form nav-button")
      div(class="")
    div(class="nav-toggle" id="nav-toggle")
      i(class="fas fa-moon skype-icon")

