/* Google Font */
// Arimo
@import url(https://fonts.googleapis.com/css?family=Arimo:regular,500,600,700,italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

// Montserrat
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

// Arimo
@import url(https://fonts.googleapis.com/css?family=Arimo:regular,500,600,700,italic,500italic,600italic,700italic);

/*
===========================================================
Todo ================= VARIABLES CSS ====================== 
===========================================================
*/
:root {
  --header-height: 3rem;

  /* ========== Colors ========== */
  /*
  Hsl 
  hsl(33, 93%, 54%);
  1 => Color <=> هي درجة على عجلة الألوان من 0 إلى 360. 0 أحمر ، 120 أخضر ، 240 أزرق
  2 => Saturation <=> التشبع هو قيمة النسبة المئوية ؛ 0٪ تعني ظل رمادي و 100٪ لون كامل
  3 => lightness <=> الخفة هي أيضا نسبة ؛ 0٪ أسود ، 100٪ أبيض
  Hsla 
  3 => Opacity <=> الشفافية هي درجة على عجلة الألوان من 1 إلى 0
  hsla(33, 93%, 54%, 0.500);
   */
  --hue-color: 33;

  /* ========== Colors========== */
  --color-first: hsl(var(--hue-color), 93%, 54%);
  --color-first-light: hsla(var(--hue-color), 93%, 54%, 0.725);
  --color-second: hsl(var(--hue-color), 93%, 54%);
  --color-second-light: hsla(var(--hue-color), 93%, 54%, 0.725);
  --color-third: hsl(240, 60%, 17%);
  --color-third-light: hsla(240, 60%, 60%, 0.795);
  // Text
  // Title
  // hsl(33, 93%, 54%)
  --color-first-title: hsl(var(--hue-color), 93%, 54%);
  --color-first-title-light: hsla(var(--hue-color), 93%, 54%, 0.795);
  // White
  --color-second-title: hsl(var(--hue-color), 93%, 100%);
  --color-second-title-light: hsla(var(--hue-color), 93%, 100%, 0.795);
  // Black
  --color-third-title: hsl(var(--hue-color), 93%, 5%);
  --color-third-title-light: hsla(var(--hue-color), 93%, 5%, 0.795);
  // Text
  // hsl(33, 93%, 54%)
  --color-first-text: hsl(var(--hue-color), 93%, 54%);
  --color-first-text-light: hsla(var(--hue-color), 25%, 15%, 0.795);
  // White
  --color-second-text: hsl(var(--hue-color), 100%, 100%);
  --color-second-text-light: hsla(var(--hue-color), 93%, 100%, 0.795);
  // Black
  --color-second-text: hsl(var(--hue-color), 100%, 5%);
  --color-second-text-light: hsla(var(--hue-color), 93%, 15%, 0.795);
  // Body
  --color-body: hsl(var(--hue-color), 93%, 100%);
  --color-container: hsl(var(--hue-color), 93%, 100%);
  // Section
  // hsl(33, 93%, 54%)
  --color-first-section-bg: hsl(var(--hue-color), 93%, 54%);
  // White
  --color-second-section-bg: hsl(var(--hue-color), 93%, 100%);
  // Black
  --color-third-section-bg: hsl(var(--hue-color), 93%, 10%);
  // Box
  // hsl(33, 93%, 54%)
  --color-box-first-bg: hsl(var(--hue-color), 93%, 54%);
  // White
  --color-box-second-bg: hsl(var(--hue-color), 93%, 100%);
  // Black
  --color-box-third-bg: hsl(var(--hue-color), 93%, 5%);
  // Button
  // hsl(33, 93%, 54%)
  --color-first-button: hsl(var(--hue-color), 93%, 54%);
  // White
  --color-second-button: hsl(var(--hue-color), 93%, 100%);
  // Black
  --color-third-button: hsl(var(--hue-color), 93%, 5%);
  // Icon
  // hsl(33, 93%, 54%)
  --color-first-icon: hsl(var(--hue-color), 93%, 54%);
  // White
  --color-second-icon: hsl(var(--hue-color), 93%, 100%);
  // Black
  --color-third-icon: hsl(var(--hue-color), 93%, 6%);
  // hsl(33, 5%, 54%)
  --color-fourth-icon: hsl(var(--hue-color), 5%, 54%);
  // Border
  // hsl(33, 93%, 54%)
  --color-first-border: hsl(var(--hue-color), 93%, 54%);
  // White
  --color-second-border: hsl(var(--hue-color), 93%, 100%);
  // Black
  --color-third-border: hsl(var(--hue-color), 93%, 5%);
  // Overlay
  // hsl(33, 93%, 54%)
  --color-first-overlay: hsla(var(--hue-color), 93%, 54%, 0.725);
  // White
  --color-second-overlay: hsl(var(--hue-color), 93%, 54%);
  // Black
  --color-third-overlay: hsl(var(--hue-color), 93%, 5%);
  // Scrollbar
  --color-scrollbar-bg: hsl(var(--hue-color), 3%, 80%);
  --color-scrollbar-thumb-bg: var(--color-first);
  --color-selection: hsl(var(--hue-color), 3%, 90%);
  --color-selection-bg: hsl(var(--hue-color), 93%, 54%);
  --color-fff: #fff;
  --color-000: #000;
  /*  ========== Font => Size, Weight And Typography==========   */
  --font-family-body: "Arimo", sans-serif;
  --font-family-title: "Raleway", sans-serif;
  --font-size-big: 2.25rem;
  --font-size-bigger: 2.5rem;
  --font-size-h1: 1.5rem;
  --font-size-h2: 1.25rem;
  --font-size-h3: 1rem;
  --font-size-normal: 0.938rem;
  --font-size-small: 0.813rem;
  --font-size-smaller: 0.75rem;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  /* ========== Margin========== */
  --m-0: 0;
  --m-05: 0.5rem;
  --m-1: 1rem;
  --m-105: 1.5rem;
  --m-2: 2rem;
  --m-205: 2.5rem;
  --m-3: 3rem;

  /* ========== Z Index========== */
  --z-tooltip: 10;
  --z-fixed: 100;

  /* ========== Scrollbar==========   */
  --scrollbar-width: 1rem;
  --scrollbar-border-radius: 0.25rem;

  /* ========== Button ========== */
  --font-size-button: 18px;

  /* ========== Hover Overlay ========== */
  --ele-transition-fast: 0.3s;
  --ele-transition-normal: 0.4s;
  --ele-transition-long: 0.9s;
  --ele-transition-longer: 1.2s;
}

@media screen and (min-width: 768px) {
  :root {
    /*  Font and typography  */
    --font-size-big: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*====================== BASE ======================*/
/*
===========================================================
Todo ================= BASE CSS =========================== 
===========================================================
*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* For Scrollbar */

::-webkit-scrollbar {
  width: var(--scrollbar-width);
  background-color: var(--color-scrollbar-bg);
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar-thumb-bg);
  border-radius: var(--scrollbar-border-radius);
}

/* For Selection */
::-moz-selection {
  color: var(--color-selection);
  background-color: var(--color-selection-bg);
}
::selection {
  color: var(--color-selection);
  background-color: var(--color-selection-bg);
}

h1,
h2,
h3,
p,
ul {
  margin: var(--m-0);
}

ul {
  padding: var(--m-0);
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
button,
input {
  border: none;
  font-family: var(--font-family-body);
  font-size: var(--font-size-normal);
}
button {
  cursor: pointer;
}

input {
  outline: none;
}

.main {
  overflow-x: hidden;
}

/*
===========================================================
Todo ================= Body CSS =========================== 
===========================================================
*/
body {
  /* Reset Body Margin*/
  margin: var(--m-0);
  /* Margin If The Header Is fixed Top And It Is First Element */
  /* margin: var(--header-height) 0 0 0; */
  font-family: var(--font-family-body);
  font-size: var(--font-size-normal);
  background-color: var(--color-body);
  color: var(--color-text);
  line-height: 1.6;
  @media screen and (min-width: 768px) {
    margin: 0;
  }
}

/* ========== Variables Dark theme==========  */
// هرجعلها
body.dark-theme {
  --color-body: hsl(var(--hue-color), 93%, 8%);
  --color-box-first-bg: hsl(var(--hue-color), 93%, 15%);
  --color-box-second-bg: hsl(var(--hue-color), 93%, 10%);
  //
  --color-title: #f1f3f2;
  --color-text: #f1f3f2;
  --color-container: #27302c;
}

/*
===========================================================
Todo ================= Button Dark/Light ================== 
===========================================================
*/
.change-theme {
  position: absolute;
  right: 1rem;
  top: 1.8rem;
  color: #000;
  font-size: 1rem;
  cursor: pointer;
  z-index: var(--z-fixed);
  @media screen and (min-width: 768px) {
    position: inherit;
    margin-left: var(--m-2);
  }
}

/*
===========================================================
Todo ================= CLASS CSS ========================== 
===========================================================
*/
.section {
  padding: 4rem 0 2rem;

  .section-title {
    font-size: var(--font-size-h1);
    color: var(--color-title);
    margin-bottom: var(--m-3);
  }
  .section-subtitle {
    display: block;
    color: var(--color-first);
    font-weight: var(--font-weight-medium);
    margin-bottom: var(--m-1);
  }
  @media screen and (min-width: 768px) {
    padding-top: 8rem;
  }
}

/*
===========================================================
Todo ================= Layout ============================= 
===========================================================
*/

.bd-container {
  max-width: 960px;
  width: calc(100% - 2rem);
  margin-left: var(--m-2);
  margin-right: var(--m-2);
  @media screen and (min-width: 960px) {
    margin-left: auto;
    margin-right: auto;
  }
}

/*
===========================================================
Todo ================= Header ============================= 
===========================================================
*/
// If You Use Header To Be Fixed Element
.header {
  /* If You Use Header To Be Fixed Element */
  // position: fixed;
  // top: 0;
  // left: 0;
  // width: 100%;
  // z-index: var(--z-fixed);
  // background-color: var(--color-body);
}

/*
===========================================================
Todo ================= Button ============================= 
===========================================================
*/

.first-button {
  margin: 2rem 2rem 2rem 0;
  a {
    text-decoration: none;
    outline: none !important;
    border: none;
    position: relative;
    display: inline-block;
    font-size: 19px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 600;
    overflow: hidden;
    border-radius: 7px;
    padding: 10px 45px;
    margin: 0 30px 0 0;
    background-image: linear-gradient(to right, #f7941d 0%, #f7941d 100%);
    z-index: 200000;
    &:before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      transition: all 0.4s;
      transform: scale(0.2, 1);
      background-image: linear-gradient(to left, #f7941d 0%, #f7941d 100%);
    }
    &:hover {
      &::before {
        opacity: 1;
        transform: scale(1, 1);
        z-index: -1;
      }
    }
  }
}

/*
===========================================================
Todo ================= Box ============================= 
===========================================================
*/
