// Nivo Slider
.nivo-slider {
  position: relative;
  height: 100vh;
  // First Child
  .slider-wrapper {
    position: relative;
    height: 100%;
    // Parent Of Images
    .slider-active {
      height: 100%;
      background-image: url(../images/Background-Slider.webp);
      background-position: center center;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      &.nivoSlider {
        // Image
        img {
          max-width: 100%;
          height: 100%;
        }
      }
    }
    // Parent  caption
    .nivo-caption {
      background: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%;
      // Child Content
      .slider-disc {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        // Box For Background
        .slider-bg {
          background: rgba(0, 0, 0, 0.651);
          padding: 50px;
          // Element Title
          h2 {
            font-size: 40px;
            text-transform: uppercase;
            @media (max-width: 767px) {
              font-size: 30px;
              color: #fff;
            }
            @media (min-width: 768px) and (max-width: 991px) {
              font-size: 30px;
            }
          }
          // Element Description
          p {
            font-size: 19px;
            color: #fff;
            @media (max-width: 767px) {
              display: none;
            }
            @media (min-width: 768px) and (max-width: 991px) {
              font-size: 16px;
              line-height: 1;
            }
          }
        }
      }
    }
    // This Is All Elements Have Same Class
    .slider-content {
      display: none;
    }
    // Arrow Button Left and write
    .nivo-directionNav {
      a {
        font-size: 15px;
        color: #fff;
        background: #333;
        width: 30px;
        height: 100px;
        line-height: 100px;
        margin-top: -50px;
        text-align: center;
        transition: all 0.4s linear;
        left: -50px;
        opacity: 0.5;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: 25px;
        &:hover {
          background-color: var(--main-color);
          color: #fff;
          opacity: 1;
        }
        i {
          font-weight: bold;
        }
        /* Small Devices (Phones, Less Than 575.98px) = Bootstrap V5 Xs */
        @media screen and (max-width: 575.98px) {
          height: 70px;
          line-height: 70px;
          margin-top: -35px;
          font-size: 20px;
        }
        /* Medium Devices (Phones, 576px And 677px) = Bootstrap V5 Sm */
        @media screen and (min-width: 576px) and (max-width: 677px) {
          height: 70px;
          line-height: 70px;
          margin-top: -35px;
          font-size: 20px;
        }
        /* Large Devices (Phones, 678px And 767px) */
        @media screen and (min-width: 678px) and (max-width: 767px) {
          height: 70px;
          line-height: 70px;
          margin-top: -35px;
          font-size: 20px;
        }
      }
    }
    // Button Number Of Slider Bottom
    .nivo-controlNav {
      position: absolute;
      bottom: 0;
      width: 100%;
      z-index: 99;
      transition: all 0.4s linear;
      a {
        width: 25px;
        height: 7px;
        margin: 0px 5px;
        background: #fff;
        display: inline-block;
        text-indent: -99999px;
        transition: all 0.4s linear;
        &.nivo-control:hover,
        &.nivo-control.active {
          background-color: var(--main-color);
        }
      }
      @media (max-width: 767px) {
        display: none;
      }
    }
  }
  // Wine Hover On Element Slider
  &:hover {
    .nivo-directionNav {
      a {
        opacity: 1;
        left: 0;
      }
      .nivo-nextNav {
        right: 0;
        left: auto;
      }
    }
  }
}
