.footer {
  background-image: linear-gradient(to bottom, #272627 0%, #000101 100%);
  padding: 3rem 0 0 0;
  margin: 3rem 0 0 0;
  &-wrapper {
    .container {
      .footer-inner {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 10px 10px;
        padding-bottom: 5rem;
        .footer-item {
          position: relative;
        }
        .box-one {
          position: relative;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          align-items: flex-start;
          margin-top: -150px;
          padding: 1rem 2rem;
          background-color: #000101;
          height: 500px;
          .line {
            display: block;
            height: 10px;
            background-color: var(--color-first);
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
          }
          .image {
            padding-top: 1.5rem;
            img {
              height: 80px;
            }
          }
          &-text {
            p {
              font-size: 16px;
              margin: 1.5rem 0;
            }
          }
          // li
          &-icon {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            transition: all 0.8s linear;
            a {
              padding: 15px 5px;
              width: 15%;
              height: 30%;
              border: 1px dotted #fff;
              margin: 0 0.8rem 0 0;
              border-radius: 50%;
              color: var(--color-fff);
              display: flex;
              justify-content: center;
              align-items: center;
              transition: all 0.5s linear;
              i {
                font-size: 12px;
                // line-height: 10px;
                display: block;
              }
              &:hover {
                background-color: var(--color-first);
                border: 1px dotted var(--color-first);
              }
            }
          }
        }
        .box-tow {
          padding: 2rem 1rem 1rem 1rem;
          .footer-title-links {
            font-size: 35px;
            margin: 0;
            padding-bottom: 1rem;
            font-weight: bold;
            color: var(--color-fff);
          }
          .footer-wrapper-mnue-links {
            display: grid;
            grid-template-columns: 48% 48%;
            grid-gap: 2% 2%;
            .footer-mnue-links {
              li {
                padding: 0.5rem 0;
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;

                .icon {
                  // position: absolute;
                  // content: "-";
                  // top: 30%;
                  // left: 0;
                  // width: 15px;
                }
                a {
                  color: var(--color-fff);
                  text-decoration: none;
                  font-size: var(--font-size-h3);
                  padding-left: 10px;
                  font-weight: normal;
                  cursor: pointer;
                  flex-grow: 1;
                }
              }
            }
          }
        }
        .box-three {
          padding: 2rem 1rem 1rem 1rem;
          .footer-title-contact {
            font-size: 35px;
            margin: 0;
            padding-bottom: 1rem;
            font-weight: bold;
            color: var(--color-fff);
          }
          .footer-mnue-contact {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            li {
              margin: 1rem 0;
              display: flex;
              justify-content: space-between;
              align-items: center;
              a {
                .icon {
                  margin-right: 1rem;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  img {
                    border-radius: 50%;
                    height: 50px;
                    background-color: var(--color-first);
                  }
                }
              }
              .text {
                .text-top,
                .text-bottom {
                  display: inline-block;
                  width: 100%;
                  color: var(--color-fff);
                  font-size: 18px;
                }
              }
            }
          }
        }
      }
    }
  }
  .copyright {
    // text-align: center;
    padding: 1.5rem;
    background-color: var(--color-first);
    color: var(--color-000);
  }
  // Scroll To Top style
  .back-to-top {
    position: fixed;
    right: 1.5%;
    bottom: -7.5%;
    display: block;
    cursor: pointer;
    height: 15px;
    width: 40px;
    padding: 3px 5px;
    font-size: 10px;
    font-weight: bold;
    color: transparent;
    text-align: center;
    z-index: 3;
    background-color: #434343;
    transition: all 0.25s ease-in-out;
    &.show-back-to-top {
      display: block;
      bottom: 1.25%;
      visibility: visible;
      transition: all 0.25s ease-in-out;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 0;
      height: 0;
      border: 20px solid transparent;
      border-top: 0;
    }
    &::before {
      top: -20px;
      z-index: 4;
      border-bottom: 20px solid #434343;
    }
    &::after {
      bottom: 0;
      z-index: 5;
      border-bottom: 20px solid #f7951d;
    }
    &:hover,
    &:focus {
      opacity: 1;
      text-decoration: none;
      height: 40px;
      color: #ffffff;
      background-color: #434343;
    }
  }
}
