footer(class="footer")
  div(class="footer-wrapper")
    div(class="container")
      div(class="footer-inner")
        div(class="footer-item box-one") 
          span(class="line") 
          div(class="image")
            img(src="images/logo-2.webp" alt="alt")
          .box-one-text
            p.lead Manzil is an exclusive multi-purpose 100% responsive Template Theme with powerful features.
            p.lead Simple and well-structured coding, high quality and flexible layout, scalable features along with color schemes to create tailor-cut websites.
          .box-one-icon
            a(href="#")  
              i(class="fab fa-facebook")
            a(href="#")  
              i(class="fab fa-linkedin")
            a(href="#")  
              i(class="fab fa-Twitter")
            a(href="#")  
              i(class="fab fa-Skype")

        div(class="footer-item box-tow") 
          h2(class="footer-title-links") Useful Links
          div(class="footer-wrapper-mnue-links") 
            ul(class="footer-mnue-links") 
              li 
                i(class="fab fa-facebook icon")
                a(href="#") About Us
              li 
                i(class="fab fa-facebook icon")
                a(href="#") Faq’sFaq’s
              li 
                i(class="fab fa-facebook icon")
                a(href="#") Our Team
              li 
                i(class="fab fa-facebook icon")
                a(href="#") Services
              li 
                i(class="fab fa-facebook icon")
                a(href="#") Team Detail
            ul(class="footer-mnue-links") 
              li 
                i(class="fab fa-facebook icon")
                a(href="#") Blog Classic
              li 
                i(class="fab fa-facebook icon")
                a(href="#") Interior Design
              li 
                i(class="fab fa-facebook icon")
                a(href="#") Price
              li 
                i(class="fab fa-facebook icon")
                a(href="#") Shop 02
              li 
                i(class="fab fa-facebook icon")
                a(href="#") Testimonial

        div(class="footer-item box-three") 
          h2(class="footer-title-contact") Contact Us
          ul(class="footer-mnue-contact") 
            li 
              a(href="#") 
                span(class="icon") 
                  img(src="images/icon/world.webp" alt="world")
              span(class="text") 
                span(class="text-top") 25BT, San Rojartar,
                span(class="text-bottom") New York, United States 
            li 
              a(href="#") 
                span(class="icon") 
                  img(src="images/icon/email.webp" alt="world")
              span(class="text") 
                span(class="text-top") Send Your Mail At
                //- هرجع اضيف الاتصال لارسال رسالة
                a(href="#") 
                  span(class="text-bottom") info@example.com 
            li 
              a(href="#") 
                span(class="icon") 
                  img(src="images/icon/clock.webp" alt="world")
              span(class="text") 
                span(class="text-top") Working Hours
                span(class="text-bottom") Mon-Sat:9.30am To 7.00pm 

  // copyright
  div(class="copyright ") 
    div(class="container")
      p(class="lead") © All rights reserved by yogsthemes

  // Button Back To Top
  div(class="back-to-top show-back-to-top scroll-to-target ") TOP