html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Manzil
    // Animate
    link(rel="stylesheet" href="css/libs/animate/v-3.7.1/animate.min.css")
    // Bootstrap
    link(rel="stylesheet" href="css/libs/bootstrap/bootstrap.min.css") 
    // Fontawesome
    link(rel="stylesheet" href="css/libs/Font/all.min.css")
    // Nivo Slider
    link(rel="stylesheet" href="css/libs/nivo-slider/nivo-slider.css")
    // Owl
    link(rel="stylesheet" href="css/libs/owl/owl.theme.default.min.css")
    link(rel="stylesheet" href="css/libs/owl/owl.carousel.min.css")
    // Magnific
    link(rel="stylesheet" href="css/libs/Magnific/magnific-popup.css")
    // Css Style
    link(rel="stylesheet" href="css/style.css") 
  body(class="") 
    include header/header.pug
    include main/main.pug
    include footer/footer.pug

    // JQuery
    //- script(src="js/libs/JQuery-3.6.0.js") 
    //- script(src='js/libs/jquery/JQuery-3.6.0.js') 
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js') 

    // Bootstrap
    script(src='js/libs/bootstrap/bootstrap.min.js') 
    // Nivo Slider
    script(src='js/libs/nivo-slider/jquery.nivo.slider.pack.js') 
    // Owl
    script(src='js/libs/owl/owl.carousel.min.js') 
    // Mixitup
    script(src='js/libs/Mixitup/mixitup.min.js') 
    // scroll reveal
    script(src="js/libs/Scrollreveal/scrollreveal.min.js") 
    //- script(src="https://unpkg.com/scrollreveal@4.0.9/dist/scrollreveal.js") 
    // Magnific
    script(src="js/libs/Magnific/jquery.magnific-popup.js")
    // Js Script
    script(src='js/script.js') 
    script(src="http://localhost:35729/livereload.js")